<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://android.com">

    <application
        a:allowBackup="true"
        a:label="Fog of War Chess"
        a:supportsRtl="true">
        
        <activity
            a:name="com.example.chess.MainActivity"
            a:exported="true">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
